/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* --columbia-blue: #C0D7DEff;
--cerulean-blue: #3D5EC9ff;
--teal-blue: #056D89ff;
--cultured: #F1F1F2ff;
--blue-munsell: #0584A2ff;
--white: #FFFFFFff;
--antique-ruby: #890B2Fff;
--seashell: #FBEBE3ff;
--blue-green: #0D9ABFff;
--burnished-brown: #9A716Bff; */

body {
	font-family: "Poppins", sans-serif;
	background-image: url("../img/sfondo.png");
	background-position: center;
	padding: 25px 10px;
}

h1 {
	font-weight: 600;
	font-size: 1.4em;
	line-height: 1.4em;
}

/* HEADER */

header {
	text-align: center;
	background-color: #056d89ff;
	padding: 15px;
	color: white;
	font-size: 0.8em;
	text-transform: uppercase;
}

header div p {
	margin: 20px 0;
}

header ul {
	list-style: none;
}

header a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	line-height: 1.5em;
	margin: 0 5px;
}

/* MAIN */

main {
	margin: 30px auto;
	background-color: white;
	padding: 15px;
	box-shadow: 1px 0 0 gray, -1px 0 0 gray;
}

/* ELEMENTI NEL MAIN - ARTICLE */

article {
	line-height: 1.1em;
}

article i {
	margin-right: 8px;
}

article p,
article ul,
article ol,
article table {
	margin: 15px 0;
	font-size: 0.8em;
}

.article__p--gray {
	color: gray;
}

.article__ul {
	padding: 0 30px;
}

.article__ul code {
	background-color: #f1f1f2;
	border: 1.5px gray solid;
	border-radius: 6px;
}

.article__strong--fucsia {
	font-weight: bold;
	color: #890b2f;
}

.article__a--azure {
	color: #0d9abfff;
}

/* TABELLE */

table {
	border-bottom: #3d5ec9 1.5px solid;
	font-weight: bold;
}

table th,
table td {
	padding: 8px;
}

table caption {
	font-weight: bold;
	font-style: italic;
}

.table__th--blue {
	background-color: #3d5ec9;
	color: white;
}

.table__th--border {
	border-right: silver 0.2px solid;
}

.table__tr--bg_silver {
	background-color: #f1f1f2;
}

/* IFRAME */

iframe {
	width: 100%;
	border-radius: 20px;
	margin-bottom: 20px;
}

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
